# Configuration parameters for transfer_files_hpc.sh
# example use:  bash transfer_files.sh transfer_files_example_config.config

# Source and destination base paths
source="/mnt/trove/beesbook2025/20250603/"
destination="/mnt/bigdata/archive_beesbook/videos_HD_2025/20250603"

# Leave empty or use "*" to transfer all files, set to e.g. "mp4" to transfer only certain files
file_extension="*"

# List of directories to transfer (leave empty for auto-discovery to transfer all subdirectories under the source dir)
directories=(
  "cam-0" "cam-1" "cam-2" "cam-3" "cam-4" "cam-5" "cam-6" "cam-7"
)

# Whether to verify and remove source files after successful transfer
check_and_remove=true